// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------


.button_1{
    height: 38px;
    background: #e8191d;
    border: 0;
    padding: 0 20px;
    color: #fff;
    margin: 20px 0px ;
}