// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer{
    padding: 20px;
    background-color: #e8491d;
    text-align: center;
    color: #fff;
    margin-top: 20px;
}